:root {
    --blue: aqua;
    --white: rgb(226, 232, 240);
  }

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;

}

body {
    /* background-image: linear-gradient(to right, #5A585A #090947); */
    /* background: linear-gradient(90deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
    background:black;
    margin: 5% 10%;
    font-family: "Open Sans", sans-serif;

}

h1, h2, h3, h4, h5, h6, p, div {
    color: rgb(198, 195, 195);
    line-height: 150%; 

}

header {
    vertical-align: top;
    position: fixed;
}

main {
    margin-left: 50%;
}

section {
    margin-bottom: 25%;
}

i {
    margin: 0 3% ;
}

a {
    text-decoration: none;
    color: white;
}

/* Info */
.navigation a{
    text-decoration: none;
}

.navigation a:hover{
    text-decoration: none;
    color: var(--white)
}

.key-word {
    color: var(--white);
    cursor: pointer;
}

.key-word:hover {
    color: var(--blue);
    cursor: pointer;
}

.social-media {
    margin-top: 130%;
}
/* About */


/* Experience */

.experience-item, .project-item{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 6%;
    transition: background-color 0.3s ease;
}

.experience-item:hover, .project-item:hover {

    background-color: rgba(52, 152, 219, 0.184);

    .key-word {
        color: var(--blue);
        cursor: pointer;
    }

}

.date, .image {
    margin-left: 2%;
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
  }

.info{
    display: inline-block;
    width: 70%;
    height: 100%;
  }

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skills ul {
    padding: 0;
    list-style: none;
    display: flex;
}


.skills li {
    padding: 5px 10px; 
    border-radius: 10px; 
    background-color: rgba(113, 226, 226, 0.253); 
    color: var(--blue);
    margin-right: 10px; 
    font-size: 12px;
    opacity: 80%;
}


/* For tablets */
@media screen and (max-width: 1046px) {
    body {
        margin: 5% 5%;
    }
    
    .social-media {
        margin-top: 5%;
    }
    .navigation {
        display: none;
    }

    header {
        position: relative;
        margin-bottom: 10%;
    }
    
    i {
        margin: 0% 1%;
    }

    main {
        margin-left: 0; /* Reset margin-left */
    }
    
    section {
        margin-bottom: 10%; /* Adjust margin for smaller screens */
    }
    
    .experience-item,
    .project-item {
        margin-bottom: 4%; /* Adjust margins between items */
    }
}

/* For phones */
@media screen and (max-width: 700px) {
    header {
        position: relative; /* Allow main content below header */
        margin-bottom: 20%;
    }

    .social-media {
        margin-top: 0%;
    }
    .navigation {
        visibility: hidden;
    }
    body {
      margin: 5% 5%;
    }
    
    main {
      margin-left: 0;
    }
  
    section {
      margin-bottom: 10%;
    }
    
    i {
        margin: 0% 1%;
    }

    .experience-item, .project-item {
      margin-bottom: 10%;
      display: block;
    }
  
    .date, .image {
      display: block;
      margin-left: 0;
      text-align: center;
      margin-bottom: 4%;
    }
  
    .info {

    }
    
    .skills {
      flex-direction: column;
    }
  
    .skills li {
      margin-bottom: 5px;
      margin-right: 0;
      
    }
}

